*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 120vh;
}

img{
    display: block;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section-center{
    width: 90vh;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs{
    background-color: burlywood;
    border-radius: 0.5rem;
}

.button{
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: rgb(240, 140, 9);
    cursor: pointer;
    transition: all -3s linear;
    letter-spacing: 0.25rem;
    font-weight: bold;
}

.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1){
    border-top-left-radius: 0.5rem;
}

.button:nth-child(3){
    border-top-right-radius: 0.5rem;
}

.button:hover:not(.live){
    background: violet;
    color: antiquewhite;
}

.tabs-content{
    padding: 2rem 1.5rem;
}

@media (min-width:992) {
    .image{
        margin-bottom: 0;
    }

    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.content{
    display: none;
}

.content.live{
    display: block;
}

.button.live{
    background: burlywood;
}

.button.live:hover{
    color: aliceblue;
}

.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem 0;
    position: fixed;
    background: rgb(54, 80, 151);
    bottom: 0;
}
